

@font-face {
    font-family: Fahwang;
    src: url(font/Fahkwang-Regular.ttf);
}
@font-face {
    font-family: Fahwang-SemiBold;
    src: url(font/Fahkwang-SemiBold.ttf);
}
@font-face {
    font-family: Fahwang-Bold;
    src: url(font/Fahkwang-Bold.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Fahwang;
    color: black;
    }

#body{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}


#sidebar{
    flex-basis:20%;
    margin-top: 50px;
    text-align: center;
}
#vnt-container{
    width: 1000px;
    height: auto;
    padding: 30px;    
    margin: 0px auto;
}
#menu1{
    flex-basis: 80%;
}
ul.products{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.products li{
   
    padding-left: 15px;
    padding-right: 15px;
    flex-basis: 30%;
    box-sizing: border-box;
}

ul.products li img{
    max-width: 100%;
    height: auto;
}
ul.products li product-info a{
    display: block;
    text-decoration: none;
  
}
#danhmuc{
    border: 1px solid #EAAA75 ;
    background-color: #FDEEDF;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 11;

}
li{
    list-style: none;
}
a{  margin-top: 20px;
    text-decoration: none;
    margin-bottom: 20px;
}
.headline{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
ul.aaaa{
   
    
    list-style: none;
    flex-wrap: wrap;
    display: inline-block;
}
ul.aaaa li{
    text-decoration: none;
}
h4{
    font-size: 18px;
    color: black;
    border: 1px solid #EAAA75 ;
    background-color: #EAAA75;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Fahwang;
    color: black;
    }
body {
    display: flex;
}