@font-face {
    font-family: Fahwang;
    src: url(font/Fahkwang-Regular.ttf);
}
@font-face {
    font-family: Fahwang-SemiBold;
    src: url(font/Fahkwang-SemiBold.ttf);
}
@font-face {
    font-family: Fahwang-Bold;
    src: url(font/Fahkwang-Bold.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Fahwang;
    color: black;
    }
body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
}
.container {
    min-height: 100%;
    display: flex;
}
.header {
    background:#DB9A5E;
    height: 100px;
    width: 100%;
    position: fixed;
    display: inline-block;
    
}
#logo_ngang {
    height: 55px;
    width: 200px;
}

.logo img {
    flex:1;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
}
.menu {
    width: 60%;
    float: left;
    padding-left: 210px;
    padding-top: 20px;
    display: inline-block;
}
 
.menu ul
    {
    margin-top: 10px;
    float:left;
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: center;

    }
.menu ul li
{
position:relative;
float:left;
}
/* Định dạng cho thẻ a */
.menu ul li a
{ 
width: 110px;
height: 50px;
text-align: center;
display:block;
color:black;
font-weight:bold;
text-transform: uppercase;
text-decoration:none;
padding: 0px;
}
.menu ul li a:hover
{font-size: 17px;
background:#935217;
color: white;
}
/* dropdown menu */
.menu ul li ul 
{
position:absolute;
display: none;
margin-top: 0;
}
.menu ul li:hover ul
{
    display: block;
}

.menu ul li ul li{
    font-size: 14px;
    width:125px;
    height: 50px;
    color: white;
    background:#935217;
    border: #60646D 1px solid;
    }

.menu ul li ul li a:hover
{
font-size: 14px;
background:#935217;
color: white;
text-align: center;
}


/* search bar */
.search {
    float: left;
    margin-left: 40px;
}
#search-box{
    background: #fff;
    border-radius: 30px;

}
#search-box #search-text{
    border: none;
    outline: none;
    background: none;
    font-size: 12px;
    width: 150px;
    padding: 10px;
    transition: 0.5s ease-in-out;
}
#search-box:hover #search-text, #search-box #search-text:valid{
    width: 150px;
    padding: 10px 0px 10px 15px;
}
#search-box #search-button {
    border: none;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}
/* Login button */
#login-btn {
   float: left;
   list-style: none;
    margin-left: 40px;
    text-transform: none;
    padding-top: 10px;
}
#login-btn a {
    text-decoration: none;
    font-weight: bolder;
}
#login-btn a:hover {
    color: #60646D;
    
}
/* shopping cart */
#cart {
    width: 40px;
    height: auto;
    float: left;
    list-style-type: none;
    margin-left: 40px;
    margin-right: 20px;
}
.cart a:hover{
    background-color: none;
   
}

/* footer part */
footer {
    bottom: 0px;
    flex-shrink: 0;
    clear: both;
    position: absolute;
    padding: 20px;
    background: #80848c;
    width: 100%;
    height: 180px;

}
.logo {
    width: 100px;
    height: auto;
}
.row {
    display: inline;
    width: 85%;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col {
    flex-basis: 25%;
    padding: 10px;
}
.col a {
    text-decoration: none;
}
.col .icon {
    width: 40px;
    height: auto;
}

/* running banner */


.center {
    margin-bottom: 120px;
    width: 100%;
}
.slider{
    border-radius: 10px;
}
.slider img {
    width: 100%;
    height: 300px;
    align-self: center;
}
/* .banChayNhat {
    width: 50%;
} */

.center {

}
.banChayNhat img {
    width: 50%;
    height: 500px;
    float: left;
    border: 1px solid #fff;
    box-shadow: 0 0 5px 1px;
}

.ThucUongMoi img {
    width: 50%;
    height: 500px;
    float: left;
    border: 1px solid #fff;
    box-shadow: 0 0 5px 1px;
}
.ThucUongMoi .btn {
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -50%);
    background:none;
    border: #000 solid 1px;
    color: #000;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }


  .ThucUongDacBiet img {
    width: 100%;
    height: auto;
    border: 1px solid #fff;
    box-shadow: 0 0 5px 1px;
  }




  /* .menu_mobile {
    position: relative;
    overflow: hidden;
} */






.mainBot{
    height: auto;
    width: 100%;
    padding: 0 10px;
}
/* Khởi nguồn */
.colb1 {
    margin-top: 10px;
    width: 35%;
    float: left;
}
.khoiNguon img {
    width: 100%;
    height: 300px;
    border: 1px solid #fff;
    box-shadow: 0 0 5px 1px;
}

.khoiNguon span {
    /* -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0); */
    text-align: left;
    box-sizing: border-box;
    font-size: 25px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.25);
    position: sticky;
    left: 10%;
    top: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    font-weight: normal !important;
}
/* Cửa hàng */
.colb2 {
    margin: 10px 5px 0;
    width: 33%;
    float: left;
   
}
.cuaHang img {
    width: 100%;
    height: auto;
    border: 1px solid #fff;
    box-shadow: 0 0 1px 1px;
}
/* Bản tin */
.colb3 {
    width: 30%;
    margin-top: 5px;
    margin-left: 0;
    font-family: Fahwang;
    float: right;
}

.fl {
    float: left;
}
.wrap img {
    width: 110px;
    height: 70px;
}
.news {
    margin-bottom: 10px;
}
.news .img {
    width: 120px;
    float: left;
    
}


.news .caption {
    overflow: hidden;
}
.news .caption a {
    text-decoration: none;
}
.news .tend {
    margin-bottom: 5px;
}

.news .tend h3{
    font-size: 14px;
    font-weight: lighter;
}

.news .date {
    font-size: 11px;
    line-height: 21px;
    padding-left: 180px;
}

.news:after {
    content: "";
    display: block;
    clear: both;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.boxHome .title {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxHome .title a {
    display: block;
    font-size: 13px;
    line-height: 21px;

}

.listNew {
    margin-bottom: 15px;
}


.mainBot .wrap.fl {
    padding-left: 20px;
}


div {
    display: block;
}


.fadeIn {
    animation-name: fadeIn;
}
.lazy-start {
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* Nhập email nhận tin  */
.formRecive form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.formRecive button {
    width: 50px;
    height: 25px;
    background: #C08753;
    color: #ffffff;
    border: none;
    border-radius: 20%;
    text-transform: uppercase;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 12px;
    line-height: inherit;
    font-style: italic;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
